.event-error {
    font-size: 12px;
}

.drinks-link {
    color: white !important;
    font-size: 18px !important;
}

.drinks-link:hover {
    font-size: 20px !important;
    color: red !important;
}

.details-drinks {
    /*margin-top: 150px!important;*/
}


/* ------------------------------------ */
.hov-img-zoom-custom {
    display: block;
    overflow: hidden;
}

.hov-img-zoom-custom img {
    width: 100%;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}

.hov-img-zoom-custom:hover img {
    /*-webkit-transform: scale(1.1);*/
    /*-moz-transform: scale(1.1);*/
    /*-ms-transform: scale(1.1);*/
    /*-o-transform: scale(1.1);*/
    /*transform: scale(1.1);*/
}

/* --------------------------------------- */

/*======== event ======== */

.event_name {
    color: white !important;
}

/*  frontend login   */

/*.login-txt {*/
/*    font-family: Montserrat;*/
/*    font-weight: 800;*/
/*    font-size: 16px;*/
/*    text-transform: uppercase;*/
/*    color: white!important;*/
/*}*/

.login-a {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    color: white;
}

.header-fixed .login-a {
    color: black;
}

.login-txt:hover {
    color: red;
}

a.hiddenanchor {
    display: none;
}
